<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyt.module.user.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.lyt.module.user.entity.User">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="PASS_WORD" jdbcType="VARCHAR" property="passWord"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, USER_NAME, PASS_WORD, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="findUserByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM l_user
        <where>
            <if test="userName != null and userName != '' ">
                <bind name="userName" value="'%' + userName + '%'" />
                AND USER_NAME LIKE #{userName}
            </if>
        </where>
    </select>
    <select id="findByIds" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM l_user a
        <where>
            <if test="ids !=null and ids.size() > 0">
                AND a.id in
                <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
                    #{id, jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 批量添加数据 -->
    <insert id="doBathAdd" parameterType="java.util.List">
        insert into l_user(`USER_NAME`, `PASS_WORD`, `CREATE_TIME`, `UPDATE_TIME`)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.userName, jdbcType=VARCHAR}, #{item.passWord, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP}, #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
</mapper>